@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?66652925');
  src: url('../font/fontello.eot?66652925#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?66652925') format('woff'),
       url('../font/fontello.ttf?66652925') format('truetype'),
       url('../font/fontello.svg?66652925#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?66652925#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-monitor:before { content: '\e800'; } /* '' */
.icon-mobile:before { content: '\e801'; } /* '' */
.icon-window:before { content: '\e802'; } /* '' */
.icon-map:before { content: '\e803'; } /* '' */
.icon-direction:before { content: '\e804'; } /* '' */
.icon-doc:before { content: '\e805'; } /* '' */
.icon-docs:before { content: '\e806'; } /* '' */
.icon-doc-text:before { content: '\e807'; } /* '' */
.icon-book-open:before { content: '\e808'; } /* '' */
.icon-book:before { content: '\e809'; } /* '' */
.icon-calendar:before { content: '\e80a'; } /* '' */
.icon-share:before { content: '\e80b'; } /* '' */
.icon-mail:before { content: '\e80c'; } /* '' */
.icon-comment:before { content: '\e80d'; } /* '' */
.icon-keyboard:before { content: '\e80e'; } /* '' */
.icon-vcard:before { content: '\e80f'; } /* '' */
.icon-chat:before { content: '\e810'; } /* '' */
.icon-right-open:before { content: '\e811'; } /* '' */
.icon-left-open:before { content: '\e812'; } /* '' */
.icon-right-open-big:before { content: '\e813'; } /* '' */
.icon-left-open-big:before { content: '\e814'; } /* '' */
.icon-github:before { content: '\e815'; } /* '' */
.icon-linkedin:before { content: '\e816'; } /* '' */
.icon-facebook:before { content: '\e817'; } /* '' */
.icon-twitter:before { content: '\e818'; } /* '' */
.icon-gplus:before { content: '\e819'; } /* '' */
.icon-ok:before { content: '\e81a'; } /* '' */
.icon-desktop:before { content: '\e81b'; } /* '' */
.icon-paper-plane:before { content: '\e81c'; } /* '' */
.icon-user:before { content: '\e81d'; } /* '' */
.icon-mail-1:before { content: '\e81e'; } /* '' */
.icon-wallet:before { content: '\e81f'; } /* '' */
.icon-mail-2:before { content: '\e820'; } /* '' */
.icon-right-open-1:before { content: '\e821'; } /* '' */
.icon-left-open-1:before { content: '\e822'; } /* '' */
.icon-mail-3:before { content: '\e823'; } /* '' */
.icon-doc-text-1:before { content: '\e824'; } /* '' */
.icon-docs-1:before { content: '\e825'; } /* '' */
.icon-doc-1:before { content: '\e826'; } /* '' */
.icon-briefcase:before { content: '\e827'; } /* '' */
.icon-suitcase:before { content: '\e828'; } /* '' */
.icon-chart-bar:before { content: '\e829'; } /* '' */
.icon-popup:before { content: '\e82a'; } /* '' */
.icon-briefcase-1:before { content: '\e82b'; } /* '' */
.icon-suitcase-1:before { content: '\e82c'; } /* '' */
.icon-paper-plane-1:before { content: '\e82d'; } /* '' */
.icon-camera:before { content: '\e82e'; } /* '' */
.icon-camera-alt:before { content: '\e82f'; } /* '' */
.icon-ok-1:before { content: '\e830'; } /* '' */
.icon-picture:before { content: '\e831'; } /* '' */
.icon-home:before { content: '\e832'; } /* '' */
.icon-flag-empty:before { content: '\e833'; } /* '' */
.icon-bell:before { content: '\e834'; } /* '' */
.icon-comment-empty:before { content: '\e835'; } /* '' */
.icon-menu:before { content: '\e836'; } /* '' */
.icon-calendar-1:before { content: '\e837'; } /* '' */
.icon-menu-1:before { content: '\e838'; } /* '' */
.icon-th-thumb-empty:before { content: '\e839'; } /* '' */
.icon-menu-2:before { content: '\e83a'; } /* '' */
.icon-user-1:before { content: '\e83b'; } /* '' */
.icon-cab:before { content: '\e83c'; } /* '' */
.icon-cancel:before { content: '\e83d'; } /* '' */
.icon-cw:before { content: '\e83e'; } /* '' */
.icon-ccw:before { content: '\e83f'; } /* '' */
.icon-arrows-cw:before { content: '\e840'; } /* '' */
.icon-zoom-in:before { content: '\e841'; } /* '' */
.icon-circle-thin:before { content: '\e842'; } /* '' */
.icon-circle-empty:before { content: '\e843'; } /* '' */
.icon-circle:before { content: '\e844'; } /* '' */
.icon-check-empty:before { content: '\e845'; } /* '' */
.icon-circle-notch:before { content: '\e846'; } /* '' */
.icon-check:before { content: '\e847'; } /* '' */
.icon-ok-2:before { content: '\e848'; } /* '' */
.icon-cancel-1:before { content: '\e849'; } /* '' */
.icon-th-thumb:before { content: '\e84a'; } /* '' */
.icon-cog:before { content: '\e84b'; } /* '' */
.icon-cog-alt:before { content: '\e84c'; } /* '' */
.icon-location:before { content: '\e84d'; } /* '' */
.icon-location-inv:before { content: '\e84e'; } /* '' */
.icon-location-1:before { content: '\e84f'; } /* '' */
.icon-location-2:before { content: '\e850'; } /* '' */
.icon-tag:before { content: '\e851'; } /* '' */