/*
*	HTML5 Boilerplate using Compass/SASS
*	Author: Hebert SIlva
*	Contact: hebertsilva.com
*/

@import "core/base";

/*
*	CSS BASE
*/

body, html {
	font-size: $ft-default;
	background: $bg-default;
	width: 100%;
	height: 100%;
}

a {
	text-decoration: none;
}