@import "core/base";

.container {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

// Mapa
.wrap-map {
	width: 100%;
	height: 100%;
	overflow: hidden;

	img {
		width: 100%;
	}

	&.loading {
		&:before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 9;
			background: image-url('global/loading.gif') center center no-repeat $white;
		}
	}
}

// Header
.wrap-header {
	position: absolute;
	top: 0;
	right: 0;
	margin: 20px;
	z-index: 99;

	.wrap-user {
		@include box-shadow(2px 2px 4px rgba($black, 0.45));
		float: right;
		height: 50px;
		line-height: 50px;
		background: $white;
		position: relative;

		img, span {
			display: inline-block;
			line-height: normal;
		}

		span {
			@include font-01;
			color: $color-text-gray;
			padding: 5px 20px;
			font-size: 14px;
			vertical-align: top;
			font-weight: 300;
		}

		&:hover {
			.wrap-config {
				display: block;
			}
		}

		.wrap-config {
			@include box-shadow(2px 2px 4px rgba($black, 0.45));
			@include box-sizing(border-box);
			width: 100%;
			position: absolute;
			top: 100%;
			padding: 10px;
			background: $white;
			line-height: normal;
			margin-top: 10px;
			display: none;

			&:before {
				content: "";
				width: 0;
				height: 0;
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				border-bottom: 5px solid $white;
				left: 22px;
				top: -5px;
				position: absolute;
			}

			a {
				@include font-01;
				color: $color-text-gray;
				font-size: 14px;
				margin-bottom: 15px;
				display: block;
				padding: 0 10px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	.nav-user {
		float: right;
		width: 50px;
		margin-right: 20px;
		position: relative;

		.open-menu {
			@include box-shadow(2px 2px 4px rgba($black, 0.45));
			width: 50px;
			height: 50px;
			border: 0;
			outline: none;
			background: $color01;
			display: block;
			color: $white;
			font-size: 12px;
			@include font-01;
			font-weight: 300;
			cursor: pointer;

			.icon {
				font-size: 18px;
			}

			&.active {
				background: $white;
				color: $color-text-gray;
			}
		}

		.list-menu {
			@include box-shadow(2px 2px 4px rgba($black, 0.45));
			background: $white;
			padding: 10px;
			position: absolute;
			left: 0;
			top: 100%;
			width: 240px;
			left: 50%;
			margin-left: -130px;
			margin-top: 10px;
			display: none;

			&:before {
				content: "";
				width: 0;
				height: 0;
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				border-bottom: 5px solid $white;
				left: 50%;
				margin-left: -6px;
				top: -5px;
				position: absolute;
			}

			li {
				text-align: center;
				width: 119px;
				float: left;
				padding: 15px 0;
				border-top: 1px solid rgba($color-text-gray, 0.2);
				border-right: 1px solid rgba($color-text-gray, 0.2);
				
				&:nth-child(2n+2) {
					border-right: 0;
				}

				&:nth-child(1), &:nth-child(2) {
					border-top: 0;
				}

				&:last-child {
					border-right: 0;
				}

				a {
					text-align: center;
					@include font-01;
					color: $color-text-gray;
					font-size: 14px;
					font-weight: 300;

					.icon {
						display: block;
						font-size: 26px;
						padding-bottom: 10px;
					}

					&:hover {
						color: $color01;
					}
				}
			}
		}
	}

	.search-route {
		@include box-shadow(2px 2px 4px rgba($black, 0.45));
		float: right;
		height: 34px;
		background: $white;
		padding: 8px;
		margin-right: 20px;
		position: relative;

		label, button {
			display: none;
		}

		input[type="text"] {
			@include font-01;
			display: inline-block;
			vertical-align: middle;
			border: 1px solid rgba($color-text-gray, 0.5);
			background: transparent;
			padding: 10px;
			width: 300px;
			outline: none;
			height: 12px;
			font-size: 14px;
			color: $color-text-gray;

			&:focus {
				border-color: $color-text-gray;
			}
		}

		.list-cliente {
			@include box-shadow(2px 2px 4px rgba($black, 0.45));
			@include box-sizing(border-box);
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			background: $white;
			padding: 10px;
			display: none;

			li {
				list-style: none;
				padding-bottom: 10px; 
				cursor: pointer;

				&:last-child {
					padding-bottom: 0;
				}

				p {
					@include font-01;
					font-size: 14px;
					color: $color-text-gray;
				}

				&:hover {
					p {
						color: $color01;
					}
				}

				&.not-client{
					display: block !important;
				}
			}
		}
	}
}

// Load pages
.load-pages {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba($black, 0.4);
	z-index: 99;

	display: none;

	.close {
		position: absolute;
		left: 100%; 
		width: 50px;
		height: 50px;
		line-height: 50px;
		top: 0;
		background: $color04;
		@include box-shadow(2px 2px 4px rgba($black, 0.45));
		color: $white;
		text-align: center;
		font-size: 22px;
		cursor: pointer;
	}
}

// Section Page
.section-page {
	position: relative;
	left: 0;
	margin: 0 auto;
	top: calc(10% - 25px);
	width: calc(80% - 50px);
	height: calc(80% - 50px);
	z-index: 99;
	background: $white;
	padding: 50px;
	@include box-shadow(0 0 4px rgba($black, 0.5));

	display: none;

	h1 {
		color: $color-text-gray;
		font-size: 36px;

		.icon {
		}
	}

	.btn {
		background: $color01;
		color: $white;
		margin-right: 20px;

		&:last-child {
			margin-right: 0;
		}

		&.btn-red {
			background: $color04;
		}
	}

	.wrap-btn {
	}
}

// Cadastro de Clientes
.wrapper-controll {

	.add-iten {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background: rgba($black, 0.4);

		display: none;
		
		.content-add {
			position: relative;
			left: 0;
			margin: 0 auto;
			top: calc(10% - 15px);
			width: calc(80% - 30px);
			height: calc(80% - 30px);
			z-index: 99;
			background: $white;
			padding: 30px;
			@include box-shadow(0 0 4px rgba($black, 0.5));
		}
	}	
}

.scroll {
	overflow-x: auto;
}

// Listo Routes
.list-routes {
	.item {
		@include box-sizing(border-box);
		width: calc(100% / 7 - 2px);
		min-height: 120px;
		text-align: center;
		float: left;
		margin: 1px;
		padding: 15px;
		background: #f4f4f4;
		color: #888;
		cursor: pointer;

		.icon {
			font-size: 36px;
		}

		.name {
			@include font-01;
			padding-top: 15px;
			font-size: 14px;
			display: block;
		}

		&:hover {
			background: #fb5f60;
			color: #fff;
		}
	}
}


// Directions Panel
.directions-panel {
	@include box-sizing(border-box);
	@include box-shadow(-2px 2px 4px rgba($black, 0.5));
	@include transform(translate(0, -50%));
	position: absolute;
	top: 50%;
	width: 250px;
	padding: 20px;
	background: $white;
	z-index: 79;
	display: none;
	right: -100%;
	// right: 0;

	h2 {
		@include font-01;
		color: #333;
		font-size: 16px;
		font-weight: 500;
		margin-bottom: 8px;
	}

	p {
		@include font-01;
		font-size: 14px;
		color: $color-text-gray;
		margin-bottom: 20px;
		line-height: 1.4em;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.close-info {
		@include box-shadow(-2px 2px 4px rgba($black, 0.45));
		position: absolute;
		right: 100%; 
		width: 40px;
		height: 40px;
		line-height: 42px;
		top: 0;
		background: $color04;
		color: $white;
		text-align: center;
		font-size: 18px;
		cursor: pointer;
	}
}

.info-window {
	@include box-sizing(border-box);
	padding: 20px;
	background: $white;

	.name {
		@include font-01;
		font-size: 18px;
		color: #404040;
		padding-bottom: 10px;
		font-weight: 400;
	}

	p {
		font-size: 14px;
		color: $color-text-gray;
		padding-bottom: 8px;
		line-height: 1.4em;

		&.sub-title {
			font-size: 16px;
			padding-top: 5px;
		}
	}
}