@import "core/base";

.wrap-login {
	padding: 100px 0 0 0;

	.logo {
		background: image-url('global/logo.png') no-repeat;
		width: image-width('global/logo.png');
		height: image-height('global/logo.png');
		margin: 0 auto;
	}

	.form {
		margin: 0 auto;
		padding: 50px 0 0 0;
		text-align: center;

		.title {
			@include font-01;
			color: $color-text-gray;
			font-size: 18px;
			font-weight: 300;
			padding-bottom: 30px;
		}

		ul {
			display: inline-block;

			li {
				margin-bottom: 15px;
				width: 250px;
				float: none;
				text-align: left;

				&:last-child {
					margin-bottom: 0;
				}

				label {
					display: none;
				}

				
				input[type="text"], input[type="email"], input[type="password"], input[type="submit"] {
					@include font-01;
					width: 100%;
					height: 22px;
					padding: 8px;
					background: $color02;
					border: 0;
					outline: none;
					color: $color03;
					border-radius: 4px;
					box-sizing: content-box;
					font-size: $fz-14;

					&.error {
						background: $bg-error;
					}
				}

				input[type="submit"] {
					background: $color01;
					display: inline-block;
					color: $white;
					cursor: pointer;
				}

				a {
					@include font-01;
					color: $color03;
					font-size: 12px;
					text-align: left;
				}
			}
		}
	}
}