/*
*	Utils site
*/

@import "compass/utilities/general/clearfix";
@import "compass/typography/text/replacement";

.clearfix {
    @include legacy-pie-clearfix;   
}

.ir {
    @include hide-text("left");
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wrapper {
	width: $w-default;
	margin: 0 auto;
}

.title-s {
	@include font-01;
	font-size: 24px;
	font-weight: 300;
	color: $color-text-gray;
}

.info {
	@include font-01;
	font-size: 16px;
	color: $color-text-gray;
	font-weight: 300;
}

.db {
	display: inline-block;
	vertical-align: middle;
}

.pd {
	padding: 20px;
}

.pd-t-b {
	padding: 20px 0;
}

.pd-b {
	padding-bottom: 20px;
}

.pd-t {
	padding-top: 20px;
}

.p-left {
	float: left;
}

.p-right {
	float: right;
}

.btn {
	@include font-01;
	@include border-radius(4px);
	border: 0;
	display: inline-block;
	font-size: 14px;
	padding: 10px 20px; 
	font-weight: 600;
	text-transform: uppercase;
	line-height: normal;
	cursor: pointer;
}

.scroll {
	overflow-y: scroll;
	max-height: 400px;
}

.table {
	width: 100%;
	@include border-radius(4px);
	border: 1px solid rgba($color-text-gray, 0.5);
	position: relative;

	thead {
		border-bottom: 1px solid rgba($color-text-gray, 0.5);

		td {
			font-weight: bold;
			font-size: 16px;
			background: $white;
		}
	}

	td {
		@include font-01;
		color: $color-text-gray;
		font-size: 14px;
		height: 40px;
		line-height: 40px;
		padding-left: 20px;
		border-right: 1px solid rgba($color-text-gray, 0.5);

		&:last-child {
			border-right: 0;			
		}
	}

	tr {
		border-bottom: 1px solid rgba($color-text-gray, 0.5);

		&:last-child {
			border-bottom: 0;
		}

		&:nth-child(2n+1) {
			background: #f1f0ee;
		}
	}

	input[type="checkbox"] {
		display: inline-block;
		vertical-align: middle;
	}
}

// Form
.form {
	fieldset {
		border: 1px solid rgba($color-text-gray, 0.5);
		padding: 10px;
		margin-top: 30px;

		legend {
			@include font-01;
			color: $color-text-gray;
			font-size: 14px;
		}
	}

	label {
		display: none;
	}

	input[type="text"], input[type="email"], select, textarea {
		display: inline-block;
		border: 1px solid rgba($color-text-gray, 0.5);
		background: transparent;
		padding: 10px;
		outline: none;
		height: 41px;
		@include font-01;
		font-size: 14px;
		color: $color-text-gray;
		width: 100%;
		outline: none;
		box-sizing: border-box;
		-moz-box-sizing: border-box; /* Firefox */


		&:focus {
			border-color: rgba($color01, 0.5);
		}

		&:disabled {
			@include opacity(0.7);
			border-color: rgba($color01, 0.5);
		}
	}

	ul {
		overflow: hidden;

		li {
			margin-right: 15px;
			margin-bottom: 7.5px;
			margin-top: 7.5px;
			width: calc(100% / 3 - 10px);
			float: left;

			&:nth-child(3n+3) {
				margin-right: 0;
			}

			&.descript-text {
				display: bold;
				width: 100%;

				textarea {
					height: 80px;
					resize: none;
				}
			}
		}
	}
}